alias a="p artisan"
alias add="gaa"
alias back="a migrate:rollback"
alias base64-to-pdf="base64 -d test.base64 > test.pdf && o test.pdf"
alias build="dcb"
alias c="composer"
alias cda="c dump-autoload"
alias checkout="gc"
alias clean="find . -name '.DS_Store' -type f -delete"
alias coverage="c coverage"
alias create-branch="git checkout -b"
alias current="gb --show-current"
alias d="docker"
alias dangling="docker image ls --filter 'dangling=true'"
alias dc="d compose"
alias dcb="dc build"
alias dcd="dc down"
alias dce="dc exec"
alias dcl="dc logs -f"
alias dclt="dcl --tail=10"
alias dcp="dc pull"
alias dcu="dc up -d"
alias depends="c depends"
alias deric-build="dcb deric"
alias deric-response-to-pdf="[ -e 'response.json' ] && cat response.json | jq --raw-output .data.file_content | base64 -d > test.pdf && o test.pdf || echo 'No response.json in current directory.'"
alias deric-tinker="dce deric php artisan tinker"
alias deric-update="dcp deric"
alias deric="dce deric bash"
alias dev="nr dev"
alias dots="cd ~/.files"
alias down="dcd"
alias dp="dc ps"
alias e="storm"
alias edit-aliases="vi ~/.aliases"
alias edit-ssh-config="vi ~/.ssh/config"
alias em="cd ~/code/rl/eric-manager"
alias ex="exercism"
alias exf="ex fetch"
alias exs="ex submit"
alias fetch="g fetch"
alias fight="echo '(ง'̀-'́)ง' | pbcopy"
alias format="c format"
alias g="git"
alias gaa="g add ."
alias gac="gaa && gc"
alias gb="g branch"
alias gc="g commit -m"
alias gcm="git checkout main"
alias gco="g checkout"
alias gd-es-codecept-test-api="gd-es-codecept api"
alias gd-es-codecept-test-unit="gd-es-codecept unit"
alias gd-es-codecept="gd-es-exec-php vendor/bin/codecept run"
alias gd-es-composer="gd-es-exec-php composer"
alias gd-es-console="gd-es-exec-php bin/console"
alias gd-es-create-report="gd-es-console es:create-report"
alias gd-es-exec-php="dce php"
alias gd-es-response-to-pdf="[ -e 'response.json' ] && cat response.json | jq --raw-output .elster.fileContent | base64 -d > test.pdf && o test.pdf || echo 'No response.json in current directory.' "
alias gd-es-test-api="gd-es-composer test-api"
alias gd-es-test-custom="gd-es-composer test-custom-errors"
alias gd-es-test-full="gd-es-composer test-full"
alias gd-es-test-models="gd-es-composer test-models"
alias gd-es-test-partials="gd-es-composer test-partials"
alias gd-es-test-unit="gd-es-composer test-unit"
alias gd-es-up="dc --env-file=.env.local up -d"
alias giff="gd"
alias gir="grep -ir"
alias gl="g log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gm="g merge"
alias gmm="g merge main"
alias gp="g push"
alias gs="g status"
alias h="hostname && uname -a"
alias hot="nr hot"
alias ia="open $1 -a /Applications/iA\ Writer.app"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipc="ip | pbcopy"
alias iz-internet="ping -c 3 google.de"
alias json-to-pdf="jq .data.file_content response.json -r | base64 -d > $(date +"%Y%m%d%H%M%S").pdf | open $(date +"%Y%m%d%H%M%S").pdf"
alias logs="dcl deric"
alias main="gcm"
alias merge="gm"
alias migrate="a migrate"
alias n="npm"
alias new="laravel new"
alias nr="n run"
alias outdated="c outdated -D"
alias p="php"
alias pe="vendor/bin/pest"
alias pf="pu --filter"
alias prod="nr prod"
alias prune="docker image prune -f"
alias pu="vendor/bin/phpunit"
alias pull="g pull"
alias push="gp"
alias qa="format && stan && test"
alias recreate="dcu"
alias refresh="a migrate:refresh"
alias reload-aliases=". ~/.aliases"
alias require="c require"
alias running="docker ps"
alias s="gs"
alias stan="c stan"
alias storm="pstorm ."
alias t="test"
alias test="c test"
alias timing="/usr/bin/time -lp"
alias tinker="a tinker"
alias tinx="a tinx"
alias up="dcu"
alias update="c update"
alias upstream="push -u origin HEAD"
alias v="code ."
alias watch="nr start:watch"
alias weather="curl -s wttr.in | sed -n '1,7p'"
