alias a="atom ."
alias art="p artisan"
alias back="art migrate:rollback"
alias c="composer"
alias copy-to-do="scp file.txt zembrowski@67.207.74.123:"
alias cr="c require"
alias e="exercism"
alias ef="e fetch"
alias es="e submit"
alias fight="echo '(ง'̀-'́)ง' | pbcopy"
alias g="git"
alias gaa="g add ."
alias gc="g commit -m"
alias gcm="g checkout master"
alias gir="grep -ir"
#alias gl="g log"
alias gl="g log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias go="dep deploy"
alias gp="g push"
alias gs="g status"
alias ia="open $1 -a /Applications/iA\ Writer.app"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipc="ip | pbcopy"
alias new="laravel new"
alias migrate="art migrate"
alias nah="g reset --hard && g clean -df"
alias own="cd ~/code/laravel/Own"
alias p="php"
alias refresh="art migrate:refresh"
alias sudo="sudo "
alias t="pu --colors"
alias pu="phpunit"
alias tinker="art tinker"
alias tinx="art tinx"
alias v="code ."
alias w="hostname && uname -a"
alias clean="find . -name '.DS_Store' -type f -delete"
alias dc="docker-compose"
alias dcu="dc up"
alias dcb="dc build"
