alias a="p artisan"
alias back="art migrate:rollback"
alias bs="brew services"
alias bsl="bs list"
alias bsa="bs start"
alias bsad="bsa dnsmasq"
alias bsam="bsa mysql@5.7"
alias bsar="bsa redis"
alias bso="bs stop"
alias bsod="bso dnsmasq"
alias bsom="bso mysql@5.7"
alias bsor="bso redis"
alias c="composer"
alias clean="find . -name '.DS_Store' -type f -delete"
alias copy-to-do="scp file.txt zembrowski@67.207.74.123:"
alias cr="c require"
alias dc="docker-compose"
alias dcb="dc build"
alias dcd="dc down"
alias dcu="dc up"
alias dcp="dc ps"
alias dep="dep deploy"
alias dev="nr dev"
alias e="exercism"
alias ef="e fetch"
alias es="e submit"
alias fight="echo '(ง'̀-'́)ง' | pbcopy"
alias g="git"
alias gaa="g add ."
alias gac="gaa && gc"
alias gc="g commit -m"
alias gcm="g checkout master"
alias gir="grep -ir"
#alias gl="g log"
alias gl="g log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gp="g push"
alias gs="g status"
alias hot="nr hot"
alias ia="open $1 -a /Applications/iA\ Writer.app"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipc="ip | pbcopy"
alias migrate="art migrate"
alias n="npm"
alias nah="g reset --hard && g clean -df"
alias new="laravel new"
alias nr="n run"
alias o="open ."
alias p="php"
alias pf="vendor/bin/phpunit --filter"
alias prod="nr prod"
alias pu="phpunit"
alias refresh="art migrate:refresh"
alias sudo="sudo "
alias t="pu --colors"
alias tinker="art tinker"
alias tinx="art tinx"
alias v="code ."
alias w="hostname && uname -a"
