#!/bin/bash

# Returns solely an exit code
function branch_exists() {
  git rev-parse --verify "$1" &> /dev/null
}

# Add everything and commit with message (stops if staged files detected)
function commit() {
  MESSAGE="$1"
  if [ -z "$MESSAGE" ]; then
    echo "Please provide a commit message ´commit 'Add something awesome!'´"
    return 1
  fi

  STAGED=$(git diff --cached --numstat | wc -l)
  if [ $((STAGED)) != 0 ]; then
    echo "You already have staged files. Please check them first."
    return 2
  fi;

  add
  gc "${MESSAGE}"
}

function main() {
  COMMON_ROOT_BRANCHES_NAMES=( main master )

  for branch_name in $COMMON_ROOT_BRANCHES_NAMES; do
    if branch_exists "$branch_name"; then
      git checkout "$branch_name"
      return 0
    fi
  done

  echo "No known root branch exists in this repo"
  return 1
}

# Create a new directory and enter it
function mkd() {
  (mkdir -p "$@" || (echo 'Could not create directory' && return 1)) && \
  (cd "$@" || (echo 'Could not change into created directory' && return 2))
}

# Open provided file (or current working directory if not)
function o() {
  if [ -z $1 ]; then
    open .
    return 0
  fi

  open $1
}

# Change directory based on name provided
function w() {
  NAME="$1"
  if [ -z "$NAME" ]; then
    echo "Please provide a name ´w deric´"
    return 1
  fi

  PATH_CLIENTS="$HOME/code/clients/$NAME"

  if [ ${#NAME} -eq 2 ] && [ -d "$PATH_CLIENTS" ]; then
    cd "$PATH_CLIENTS"
    return 0
  fi

  PATH_RL="$HOME/code/rl/$NAME"

  if [ -d "$PATH_RL" ]; then

    COUNT=$(ls | wc -l)
    if [ "$COUNT" -eq "1" ]; then
      SUBDIR=$(ls)
      cd "$PATH_RL"/"$SUBDIR"
      return 0
    fi

    cd "$PATH_RL"
    return 0
  fi

  echo "Sorry, could not find the directory you're looking for."
  return 2
}
